<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerRoot</key>
	<string>http://172.16.88.169:8888/infoProjectLibServer</string>
	<key>ProjectList</key>
	<string>/projects</string>
	<key>NewsList</key>
	<string>/news</string>
	<key>UserSearch</key>
	<string>/userssearch</string>
	<key>UserInfo</key>
	<string>/users</string>
	<key>ProjectCategories</key>
	<string>/categories</string>
	<key>UserLoginFileName</key>
	<string>UserInfo.plist</string>
</dict>
</plist>
